.btn-size {
    width: 72px;
}

.btn-size:disabled {
    cursor: not-allowed;
}

.input-err {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

select {
    color: #6c757d;
}

option {
    color: #495057;
}

select option:first-child {
    color: #6c757d;
}