<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/speakers">Speakers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/talks">Talks</a>
      </li>

    </ul>
    
  </div>
</nav>