

<form class="w3-container w3-half">
  <div>
    <label > Nome </label>
    <input class="w3-input" type="text" >
  </div>
  <div>
    <label > Cognome </label>
    <input class="w3-input" type="text" >
  </div>
  <div>
    <label > Codice Fiscale </label>
    <input class="w3-input" type="text" >
  </div>
  <div>
    <label > Email </label>
    <input class="w3-input" type="email" >
  </div>
  <div>
    <label > Immagine </label>
    <input class="w3-input" type="url" >
  </div>
  <button class="w3-button w3-white w3-border w3-border-green w3-round-large w3-right" type="button"> Crea </button>
</form>
